.list {

  &-button {
    color: $title-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 93px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center; 
    
    & .item:not(:last-child) {
      margin-right: 8px;
    }
  }
}