.icon {

  &-form {
    & .icon {
      position: absolute;

      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      fill: $title-text-color;

      transition: fill $duration $timing;
    }
  }
}

.icon {

  &-form {

    & .icon {
      
      position: absolute;
    
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      fill: $title-text-color;
    
      transition: fill $duration $timing;
    }
  }
}