.hero {

  & .section-title {
    color: $primary-text-color;  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;

  }
}

.hero {

  & .link {
    background-color: $accent-color;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87; 
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }

  &-link {
    display: inline-block;
    padding: 10px 32px;
    
    outline: none;
    border: 0;
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  

    transition: background-color $duration $timing;
   }
}

.hero {

  &-link:hover, &-link:focus {

    background-color: $primary-text-color;
    color: $accent-color;
    outline: none;
    border: 0;
  }
}

.hero {

  &-img {
    text-align: center;
    background-color: #000000;  
    background-image: $hero-gradient,
       url(../images/HeaderImg75.jpg);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 600px;  
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px ;
  }
}