.logo{
    color: $accent-color;
  }

  .logo-studio {
    color: $logo-color-text;
    margin-right: 85px;
  }

  .link-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  }