$body-color:#E5E5E5;
$title-text-color: #212121;
$accent-color: #2196F3;
$logo-color-text: #000000;
$text-color: #757575;
$primary-text-color: #FFFFFF; 
$footer-bgc: #2F303A;
$feature-img: #F5F4FA;
$footer-social:rgba(100%, 100%, 100%, 10%);
$icon-color: #AFB1B8;
$duration: 250ms;
$timing:  cubic-bezier(0.4, 0, 0.2, 1);
$hero-gradient: linear-gradient(
  rgba(47, 48, 58, 0.8),
  rgba(47, 48, 58, 0.8)
  );

$font-family: Roboto, sans-serif;